#pet-card {
  margin-left: 10px;
  margin-top: 10px;
  width: 18em;
  height: 25em;
}

#image-card {
  width: 18em;
  height: 12em;
}

#location-button {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
