@import './../../custom.scss';

#box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 30px;
}

.text {
  padding-top: 20px;
  max-width: 50%;
  color: #4e1a75;
  text-align: center;
}

.buttons {
  padding: 20px;
}
