#func-buttons {
  display: flow-root;
}

#add-button {
  float: right;
  margin-right: 26px;
  margin-top: 10px;
}

#search-button {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

#search-bar {
  float: right;
  margin-right: 10px;
  margin-top: 15px;
  text-align: center;
}
