@import "./../../custom.scss";

#logo-title {
  color: white;
  margin-left: 10px;
}

#header-button {
  margin-right: 10px;
}

.box {
  display: flex;
  width: 100%;
  justify-content: start;
}

.iconbox {
  flex: 6;
}

.buttonbox {
  flex: 7;
}
