@import "./../../custom.scss";

#logo-title {
  color: black;
  margin-left: 15px;
}

#header-button {
  margin-right: 10px;
}

.box {
  display: flex;
  width: 100%;
  justify-content: center;
}

#logo {
  margin-bottom: 8px;
}