@import '../../../custom.scss';

#submit-button {
  float: right;
  margin-top: 10px;
}

#icons {
  margin-bottom: 5%;
  margin-right: 5px;
}

#button {
  margin-right: 10px;
}

#div-buttons {
  text-align: center;
}

#warning {
  padding: 10px;
  color: #4e1a75;
  max-width: 100%;
}

#text-center{
  text-align: center;
}