// Override default variables before the import
$body-bg: #d3d3d3;

// Variables
$primary-color: green;

// Override default bootstrap variables
$theme-colors: (
  'primary': green,
  'secondary': #99ccff,
);
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
