// Override default variables before the import
$body-bg: #d3d3d3;

// Variables
$primary-color: #d3d3d3;

// Override default bootstrap variables
$theme-colors: (
    "primary": #d3d3d3,
    "secondary":#99ccff,
);
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';